<h1>Seja bem Vindo</h1>

<p>Renato Almeida</p>

<p>A soma é: <%= 1 + 1 %></p>
<p>Seu segundo nome de trás pra frente é: <%= "Sousa".reverse %></p>
<% ax = "Minha nova variável"%>
<p>Imprimindo minha variável A: <%= ax %></p>
<p>A data de hoje é: <%= Date.today %></p>
