<h1>Editing coin</h1>

<%= render "form", coin: @coin %>

<p><%= button_to "Excluir", @coin, method: :delete, data: { confirm: 'Tem certeza ?' } %></p>

<br/>

<div>
  <%= link_to "Show", @coin%> | 
  <%= link_to "Back", coins_path %>
</div>
