<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>

<div id="coins">
    <% @coins.each do |coin| %> <%= render coin %> 
    <% end %>
</div>

<div>
  <p><%= link_to "New coin", new_coin_path %></p>
</div>
